root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[.flake8]
indent_size = 4
indent_style = space

[*.html]
indent_size = 2
indent_style = space

[*.ini]
indent_size = 4
indent_style = space

[*.md]
indent_size = 4
indent_style = space

[*.py]
indent_size = 4
indent_style = space

[*.toml]
indent_size = 2
indent_style = space

[*.y{,a}ml]
indent_size = 2
indent_style = space
